canvas {
    border: 5px dashed #f1cbff;
    padding: 0;
    margin: auto;
    display: block;
    overflow: auto;
}
body{
    background: #9494ce
}

header {
    float: right;
    text-align: center;
    color: #ffbdbd;
    font-weight: 900;
    margin-right: 15%;
    margin-top: 25%;
}
h1 {
    font-size: 50px;
}
.cloud {
    width: 500px;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-bottom: -150px;

}