canvas {
    border: 5px dotted white;
    padding: 0;
    margin: auto;
    display: block;
}
body{
    background: #9494ce;
    text-align: center;
}

.header {
    text-align: center;
    color: #ffbdbd;
    display: inline-block;
    position: absolute;
    padding: 20% 5%;
}
h1 {
    font-size: 50px;
}
.cloud {
    width: 500px;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-bottom: -150px;

}
.game{
    display: inline-block
}
.start{
    color: white;
    background: #ffbdbd;
    font-size: 40px;
    padding: 10px;
    border-radius: 8px;
}